@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 60% 97%;
    --foreground: 224 71.4% 4.1%;
    --card: 120 60% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 120 60% 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 120 73% 62%;
    --primary-foreground: 224 71.4% 10.1%;
    --secondary: 120 20% 93%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 120 20% 93%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 51 100% 95%;
    --accent-foreground: 51 100% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 89.8%;
    --input: 120 10% 89.8%;
    --ring: 120 73% 62%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 120 10% 10%;
    --foreground: 0 0% 98%;
    --card: 120 10% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 120 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 120 73% 62%;
    --primary-foreground: 224 71.4% 10.1%;
    --secondary: 120 5% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 120 5% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 51 100% 15%;
    --accent-foreground: 51 100% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 5% 20%;
    --input: 120 5% 20%;
    --ring: 120 73% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
